.waveform_contianer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    background: transparent;
}

.wave{
    width: 100px;
    height: 30px;
    position: relative;
}

.wave_line{
    z-index: 4;
    position: absolute;
    top: 15px;
    left: 8px;
    width: calc(100% - 8px);
    height: 1px;
    background: #fff;
}

.wave_progress_line{
    z-index: 5;
    position: absolute;
    top: 15px;
    left: 8px;
    height: 1px;
    background: #2D5BFF;
}


.play_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #efefef;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    padding-bottom: 3px;
}

.play_button:hover {
    background: #ddd;
}